<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Morse Node</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="/scripts/vendor/riffwave.js"></script>
    <script src="/scripts/main.js"></script>
</head>

<body class="no-select">

{{{body}}}

</body>
</html>