<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Morse Node</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/vendor/howler.min.js"></script>
    <script src="/js/vendor/riffwave.js"></script>
</head>
<body>

    {{{body}}}

</body>
</html>