<div class="container">
  <img src="/images/logo.png" alt="Morse Node">
  <p>Finally, we have the technology to rebuild the technology from hundreds of years ago!</p>
  <p>Written in node.js (of course), Morse Node lets you communicate with friends, frenemies, and frenimies all over the world!</p>
  <p>Simply copy the url above and share it with somebody to start morsing like it's 1836.</p>
  <p><b>Click the image below to morse!</b></p>
  <div id="push-button" class="key key-up"></div>
  <input type="text" id="field">
  <button id="send">chat</button>
  <div id="content"></div>
</div>

<a href="https://github.com/mfkp/morsenode" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>