<header>
  <img src="/images/logo.png" alt="Morse Node">
</header>

<div class="container">
  <p>Finally, we have the technology to rebuild the technology from hundreds of years ago!<br>
  Written in node.js (of course), Morse Node lets you communicate with friends, enemies, and frenemies all over the world!</p>
  <p>Simply copy the url above and share it with somebody to start morsing like it's 1836.</p>
  <div id="frame">
    <div id="push-button" class="key key-up"></div>
  </div>
  <form onsubmit="return false;">
    <input type="text" id="field" placeholder="say something...">
    <button type="submit" id="send">convert + send</button>
  </form>
  <div id="content"></div>
</div>

<div class="credits">
  by <a href="https://twitter.com/mfkp" target="_blank">@mfkp</a> &amp; <a href="https://twitter.com/cookatz" target="_blank">@cookatz</a>
</div>

<a href="https://github.com/mfkp/morsenode" target="_blank">
  <img class="github" src="/images/forkme.png" alt="Fork me on GitHub">
</a>