<style>
  #push-button {
    background: url(/img/telegraph-key.jpg) no-repeat;
    background-size: cover;
    width: 400px;
    height: 315px;
  }
</style>
<input type="text" id="field">

<button id="send">send</button>

<div id="content"></div>

<div id="push-button"></div>