body {
  background: url('/images/ricepaper_v3.png') repeat;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

a {
  color: #6A1E3C;
}

.container {
  max-width: 800px;
  min-width: 465px;
  margin: 25px auto;
  padding: 20px;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

.key {
  background: url('/images/morsenode-sprite.png') no-repeat;
  margin: 0 auto;
}

.key-up {
  background-position: 0 0;
  width: 465px;
  height: 265px;
}

.key-down {
  background-position: 0 -265px;
  width: 465px;
  height: 265px;
}

.no-select {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  -user-select: none;
}